<div class="modus">
  <section class="section">
    <div class="container">
      <h2 class="title is-2"><%= @course.title %></h2>
      <h5 class="title is-5"><%= @course.description %></h5>
      <h5 class="title is-5"><%= @course.completion_count %> out of <%= @course.students.size %> students completed.</h5>
      <% @modus.each do |modu| %>
        <%- if current_user.complete? modu %>
          <div class="box completed">
        <% else %>
          <div class="box">
        <% end -%>
          <a href="<%= course_modu_path(@course, modu) %>">
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <h3 class="title is-4"><%= modu.title %></h3>
                  <p><%= modu.content %></p>
                </div>
              </div>
            </article>
          </a>
        </div>
      <% end %>
    </div>
  </section>
</div>
