<div class="modus">
  <section class="section">
    <div class="container">
      <h2 class="content-title title is-2"><%= @modu.title %></h2>
      <div class="change">
        <%- if show_edit? %>
          <a href="<%= edit_course_modu_path(@course, @modu) %>" class="button is-warning">Edit</a>
        <% end -%>
        <%- if show_delete? %>
          <%= form_for(@modu, url: course_modu_path(@course, @modu), method: :delete, html: { onsubmit: "return confirmDelete('edit_modu_8')" }) do |f| %>
            <div class="field">
              <div class="control">
                <%= f.submit "Delete", class: "button is-danger" %>
              </div>
            </div>
          <% end %>
        <% end -%>
      </div>
      <div class="content">
        <%= markdown(@modu.content) %>
      </div>
      <%- if @course.student? current_user %>
        <%= form_for(@completion, url: course_modu_complete_path(@course, @modu)) do |f| %>
          <div class="field">
            <div class="control">
              <%= f.submit "Complete", class: "button is-success" %>
            </div>
          </div>
        <% end %>
      <% end -%>
    </div>
  </section>
  <hr />
  <section class="section">
    <div class="container">
      <h4 class="title is-4">Comments/Questions</h4>

      <%= form_for(@comment, url: course_modu_comments_path(@course, @modu)) do |f| %>
        <% if @comment.errors.any? %>
          <div class="box">
            <p><%= pluralize(@comment.errors.count, "error") %> prohibited this course from being saved:</p>
            <ul>
            <% @comment.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <div class="control">
            <%= f.text_area :content, class: "input comment-area" %>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <%= f.submit "Post", class: "button is-primary" %>
          </div>
        </div>
      <% end %>

      <% @modu.comments.order(updated_at: :desc).each do |comment| %>
        <div class="comment">
          <h5 class="title is-5"><%= comment.user.name %></h5>
          <p><%= comment.content %></p>
        </div>
      <% end %>
    </div>
  </section>
</div>
