<!DOCTYPE html>
<html>
  <head>
    <title>Learned</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%- if flash[:notice] %>
      <div class="notification"><%= flash[:notice] %></div>
    <% end -%>
    <%- if flash[:alert] %>
      <div class="notification is-danger"><%= flash[:alert] %></div>
    <% end -%>
    <div class="container">
      <%- if @nav %>
        <nav class="navbar is-transparent">
          <div class="navbar-brand">
            <a class="navbar-item" href="<%= root_path %>">
              <h3 id="logo" class="title is-3 has-text-danger">Learned</h3>
            </a>
            <div class="navbar-burger burger" data-target="nav">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div id="nav" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item" href="#">Create</a>
            </div>
            <div class="navbar-end">
              <a id="name" class="navbar-item" href="<%= edit_registration_path(current_user) %>"><%= current_user.name %></a>
            </div>
          </div>
        </nav>
      <% end -%>
    </div>
    <%= yield %>
  </body>
</html>
