<!DOCTYPE html>
<html>
  <head>
    <title>Learned</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%- if flash[:notice] %>
      <div class="notification"><%= flash[:notice] %></div>
    <% end -%>
    <%- if flash[:success] %>
      <div class="notification is-success"><%= flash[:success] %></div>
    <% end -%>
    <%- if flash[:alert] %>
      <div class="notification is-danger"><%= flash[:alert] %></div>
    <% end -%>
    <%- if show_nav? %>
      <nav class="navbar is-primary">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="<%= root_path %>">
              <h3 id="logo" class="title is-3 has-text-white">Learned</h3>
            </a>
            <div class="navbar-burger burger" data-target="nav">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div id="nav" class="navbar-menu">
            <div class="navbar-start">
              <%- if show_create? %>
                <a class="navbar-item" href="<%= create_path %>">Create</a>
              <% end -%>
            </div>
            <div class="navbar-end">
              <a id="name" class="navbar-item" href="<%= edit_registration_path(current_user) %>"><%= current_user.name %></a>
            </div>
          </div>
        </nav>
      </div>
    <% end -%>
    <%= yield %>
  </body>
</html>
