<!DOCTYPE html>
<html>
  <head>
    <title>Learned</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <% if flash[:notice] -%>
      <div class="notification"><%= flash[:notice] %></div>
    <% end -%>
    <% if flash[:alert] -%>
      <div class="notification is-danger"><%= flash[:alert] %></div>
    <% end -%>
    <%= yield %>
  </body>
</html>
